body {
    min-height: 100vh;
    background-image: url(../images/background.svg);
}

main {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    width: 150vh;
    margin-top: 5rem;
}